.wizard-tabs {
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 15px auto;
  gap: 20px;
  align-items: center;
  font: normal normal normal 16px/17px Fredoka;
  letter-spacing: 0px;
  .rdv-pill {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px !important;
  }
  span:not(.material-icons) {
    font-size: 14px;
  }
  .material-icons.arrow-next {
    color: #ffa700;
    cursor: pointer;
    font-size: 17px;
    transform: rotate(180deg);
    &.disabled {
      color: #9da5ad;
    }
  }
  .gray-pill {
    background-color: #ffffff;
    border: 1px solid #9da5ad;
    color: #9da5ad;
  }
  .orange-pill {
    background-color: #ffa700;
    color: #ffffff;
  }
}
