<div class="wizard-tabs">
  <span class="rdv-pill orange-pill curs" style="cursor: pointer">1</span>
  <span class="" style="color: #ffa700; cursor: pointer">Détails</span>
  <span class="material-icons arrow-next">keyboard_backspace</span>
  <span class="rdv-pill gray-pill" style="cursor: pointer">2</span>
  <span class="" style="color: #9da5ad; cursor: pointer">Planifier</span>
  <span class="material-icons arrow-next disabled">keyboard_backspace</span>
  <span class="rdv-pill gray-pill" style="cursor: pointer">3</span>
  <span class="" style="color: #9da5ad; cursor: pointer">Paiement</span>
</div>
