<div class="commande-container d-flex flex-column">
   <div class="commande d-flex align-items-center justify-content-between">
    <div class="details">
        <div class="details-title d-flex align-middle">
            <img src="../../../../assets/icon/list.svg" />
            <div class="blue-title">
                Détails commande 1
            </div>
        </div>
        <div class="item d-flex">
            <div class="item-title"><span>1 Vidéo </span>: Coaching carrière</div>
            <div class="price">100,00 €</div>
        </div>
        <div class="item d-flex">
            <div class="item-title">1 Support de formation pdf : Coaching d’équipe</div>
            <div class="price">50,00 €</div>
        </div>
        <div class="item d-flex">
            <div class="item-title">1 Support de formation pdf : Gestion des conflits</div>
            <div class="price">25,00 €</div>
        </div>
    </div>
    <div class="commande-img">
        <img src="../../../../assets/img/commande.png" />
    </div>
    <div class="close-icon"><img src="../../../../assets/icon/close.svg" /></div>
   </div> 
   
   <div class="commande d-flex align-items-center justify-content-between">
    <div class="details">
        <div class="details-title d-flex align-middle">
            <img src="../../../../assets/icon/list.svg" />
            <div class="blue-title">
                Détails commande 2
            </div>
        </div>
        <div class="item d-flex">
            <div class="item-title"><span>1 Vidéo </span>: Coaching carrière</div>
            <div class="price">100,00 €</div>
        </div>
        <div class="item d-flex">
            <div class="item-title">1 Support de formation pdf : Coaching d’équipe</div>
            <div class="price">50,00 €</div>
        </div>
        <div class="item d-flex">
            <div class="item-title">1 Support de formation pdf : Gestion des conflits</div>
            <div class="price">25,00 €</div>
        </div>
    </div>
    <div class="commande-img">
        <img src="../../../../assets/img/commande.png" />
    </div>
    <div class="close-icon"><img src="../../../../assets/icon/close.svg" /></div>
   </div>
</div>
