.commande-container {
    gap: 40px;
    .commande{
        background: rgb(43 118 163 / 15%);
        border-radius: 10px;
        padding: 14px 10px 14px 30px;
        position: relative;
        box-shadow: 0px 0px 10px #0000001A;
        cursor: pointer;
    
        .commande-img{
            text-align: center;
            flex: 1;
        }
        .details{
            flex: 1;
            max-width: 500px;
            .details-title{
                margin-bottom: 13px;
                img{
                   margin-right: 8px; 
                }
            }
        }
        
        .close-icon img{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .item {
            margin-bottom: 5px;
            justify-content: space-between;
            span{
                font-family: 'FredokaMedium';
            }
            .price{
                font-family: 'FredokaMedium';
            }
        }
    }
}