::ng-deep #content{
  background-image: url("/assets/img/common/Groupe de masques%203@2x.png");
  background-size: cover;
}

.sub-component-content{
  margin: 35px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

.mlr-10{
  margin-right: 10px;
  margin-left: 10px;
}

.search-bar{
  position: relative;
  .search-icon{
    position: absolute;
    color: #CED2D6;
    right: 20px;
    top: 30%;
  }
}

.filters-row {
  margin-top: 20px;  
  gap: 10px;
}

.ng-select.selectFilter ::ng-deep {
  .ng-dropdown-panel {
    border-radius: 6px;
    margin-top: 2px;
    box-shadow: 0px 0px 10px #0000001A;
    border: unset;
    margin-top: 3px;
  }
  .ng-select-container {
    background-color: #1376A3;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px !important;
    color: #fff;
    padding: 0 13px 0 20px;
    border: none;
    -webkit-appearance: none;
    font: normal normal normal 14px/18px Fredoka;
    outline: none;
    cursor: pointer;
    
    .ng-clear-wrapper{
      margin-left: 5px;
    }
    .ng-value-container{
      padding-left: 0;
      .ng-input {
        top: unset;
        input {
          color: #fff;
        }
      }
    }
    input{
      height: auto;
    }
  
    .ng-arrow-wrapper {
      width: unset;
      .ng-arrow{
        border: unset;
        &::after{
          content: "";
          background-image: url(../../../../assets/icon/arrow-down.svg);
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          display: inline-block;
          position: relative;
          top: 3px;
        }
      }
    }
}
}
.result-pane {
  /*.parent {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 0 21%; !* explanation below *!
    margin: 10px 40px 10px 0px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    opacity: 1;
    background: transparent url('/assets/img/common/smiling-woman-talking-to-wellness-coach-about-moti-2021-08-26-16-33-33-utc@2x.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    img {
      width: 200px;
      height: 200px;
      display: none;
    }

    .card-title{
      background: transparent;
    }

    .card-text {
      background: #DDF2FA 0% 0% no-repeat padding-box;
    }
  }*/

}
.coach-search{
  border-radius: 10px !important;
  opacity: 1;
  width: 100%;height: 50px;
  padding: 10px;
  box-shadow: 0px 0px 10px #0000001A;
}

.wrapper {
  display: flex;
  width: 100%;
  margin: 25px auto;
  //justify-content: space-between;
  flex-flow: row wrap;
}

.result-pane{
  margin-top: 40px;
  .card {
    min-height: 300px !important;
    padding: 20px;
    border-radius: 10px;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.25s ease-out;
    box-shadow: 0px 0px 10px #0000001A;
    border: 0;
    overflow: hidden;
    cursor: pointer;
  
    &:nth-child(4n) {
      margin-right: 0 !important;
    }
    &:hover {
      background: #DDF2FA 0% 0% no-repeat padding-box;
    }
    &:hover:before {
      opacity: 1;
    }
    &:hover .info {
      opacity: 1;
      transform: translateY(0px);
    }
    &:hover .bottom-info {
      opacity: 0;
    }
    
    &:hover img {
      opacity: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #DDF2FA 0% 0% no-repeat padding-box;
      z-index: 2;
      transition: 0.25s ease-out;
      opacity: 0;
    }

     img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
     img[src=""],
     img:not([src]){
      opacity: 0;
    }
     .bottom-info{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-radius: 0px 0px 10px 10px
    }
     .bottom-info .partial-info {
      background: linear-gradient(to top, rgba(221, 242, 250, 1), rgba(221, 242, 250, 0.8));
      min-width: 100%;
      height: 85px;
      bottom: 0;
      left: 0;
      z-index: 99999999;
      position: relative;
      border-radius: 0px 0px 10px 10px;
      .coach-name{
        font-size: 18px;
        left: 20px;
        font-family: 'FredokaMedium';
        position: relative;
        top: 10px;
      }.coach-skills{
        font: normal normal normal 14px/15px Fredoka;
        left: 20px;
        position: relative;
        top: 10px;
      }
    }
     .bottom-info .title-rating {
      background: transparent url('/assets/img/common/Rectangle%20547.svg') 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 100%;
      height: 93px;
      background-size: cover;
      position: relative;
      .rating {
        display: flex;
        width: 33%;
        justify-content: space-evenly;
        left: 20px;
        top: 50px;
        position: absolute;
        img {
          width: 12px;
          height: 12px;
          position: unset;
          top: unset;
          left: unset;
        }
      }
      span {
        background-color: #1376A3;
        border: 1px white;
        color: white;
        left: 20px;
        position: relative;
        top: 70px;
        font: normal normal normal 12px/15px Fredoka;
      }
    }
     .info {
      position: relative;
      z-index: 3;
      color: var(--global-font-color);
      opacity: 0;
      transform: translateY(130%);
      transition: 0.25s;
      .title-rating {
        opacity: 1;
        width: 100%;
        height: 50px;
        background-size: cover;
        position: relative;
    
        .rating {
          display: flex;
          width: 100px;
          justify-content: space-evenly;
          left: 0px;
          top: 0px;
          position: absolute;
    
          img {
            width: 12px;
            height: 12px;
            position: unset;
            top: unset;
            left: unset;
            opacity: 1;
          }
        }
    
        span {
          background-color: #3C4D5D;
          color: white;
          left: 0px;
          position: relative;
          top: 20px;
          font: normal normal normal 12px/15px Fredoka;
        }
      }
    
      .partial-info {
        position: relative;
        .coach-name{
          font: normal normal normal 20px/22px Fredoka;
          font-weight: bold;
          position: relative;
        }.coach-skills{
           font: normal normal normal 14px/15px Fredoka;
           position: relative;
         }
      }
    }
     .info h1 {
      margin: 0px;
    }
     .info p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }
     .info button {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
    }
     .info button:hover {
      background: dodgerblue;
      color: white;
    }
    
  }
}


