<app-sub-header [title]="'Trouver mon coach'"></app-sub-header>
<div class="row sub-component-content">
  <div class="col-10">
    <div class="search-bar form-group form-inline p-0">
      <input class="form-control coach-search " type="text" [(ngModel)]="filterString" (keydown)="filterInputChanged($event)" (change)="filterInputChanged($event)" placeholder="Rechercher ‘Carrière’, ‘ Vie’, ‘Entrepreneuriat’, ‘Coaching d’équipe’ ou ‘David Laroche’...">
      <div class="search-icon">
        <svg id="loupe" xmlns="http://www.w3.org/2000/svg" width="18.524" height="18.524" viewBox="0 0 18.524 18.524">
          <path id="Tracé_16" data-name="Tracé 16" d="M18.3,17.209,13.03,11.941a7.346,7.346,0,1,0-1.091,1.091L17.206,18.3A.772.772,0,1,0,18.3,17.209ZM7.332,13.124a5.789,5.789,0,1,1,5.789-5.789A5.795,5.795,0,0,1,7.332,13.124Z" transform="translate(0 -0.003)" fill="currentColor"/>
        </svg>
      </div>
    </div>
    <div class="filters-row input-group form-group form-inline d-flex p-0">
      <button class="btn" hidden style="margin-right: 10px" (click)="resetFilters()">Tous</button>
    <ng-select class="selectFilter"
    bindLabel="name"
    bindValue="id"
    [clearable] = false
    [searchable] = false
    [(ngModel)]="selectedCoachType">
    <ng-option  selected disabled value="Type de coach">Type de coach</ng-option>
    </ng-select>
    <ng-select class="selectFilter"
    bindLabel="name"
    bindValue="id"
    [clearable] = false
    [searchable] = false
    [(ngModel)]="selectedContent">
    <ng-option  selected disabled value="Type de contenu">Type de contenu</ng-option>
    </ng-select>
    <ng-select class="selectFilter" [items]="competences"
    bindLabel="name"
    bindValue="name"
    [clearable] = false
    [searchable] = false
    [(ngModel)]="selectedComp" (change)='onOptionsSelected($event, "comp")'>
    <ng-option  selected disabled value="Compétences">Compétences</ng-option>
    </ng-select>
    <ng-select class="selectFilter"
    [items]="accreditations"
    bindLabel="name"
    bindValue="name"
    [clearable] = false
    [searchable] = false
    [(ngModel)]="selectedAccr"(change)='onOptionsSelected($event, "accr")'>
    <ng-option  selected disabled value="Accréditations">Accréditations</ng-option>
    </ng-select>

      <button class="btn" (click)="resetFilters()">Réinitialiser</button>
    </div>
    <div class="result-pane">
      <div class="row gy-5 gx-4 gx-xl-5">
        <div *ngFor="let coach of filteredData; index as i" class="col-12 col-sm-6 col-lg-4 col-xxl-3 " (click)="goToCoachDEtails(coach)">
          <div class="card ">
            <img [attr.src]="coach.photo ? coach.photo : '/assets/img/common/blank-profile-picture-973460.png'"/>
            <div class="bottom-info">
              <div class="title-rating">
                <div class="rating">
                  <img src="assets/img/common/Layer%202.svg"/>
                  <img src="assets/img/common/Layer%202.svg"/>
                  <img src="assets/img/common/Layer%202.svg"/>
                  <img src="assets/img/common/Layer%202.svg"/>
                  <img src="assets/img/common/Layer%202-1.svg"/>
                </div>
                <span class="badge">Coaching carrière</span>
              </div>
              <div class="partial-info">
                <span class="coach-name">{{coach.prenom}} {{coach.nom}}</span><br>
                <span class="coach-skills">{{coach.competances.replace(', ',' - ')}}</span>
              </div>
            </div>
            <div class="info">
              <div class="title-rating">
                <div class="rating">
                  <img src="assets/img/common/Layer 2-dark.svg"/>
                  <img src="assets/img/common/Layer 2-dark.svg"/>
                  <img src="assets/img/common/Layer 2-dark.svg"/>
                  <img src="assets/img/common/Layer 2-dark.svg"/>
                  <img src="assets/img/common/Layer 2-dark empty.svg"/>
                </div>
                <span class="badge">Coaching carrière</span>
              </div>
              <div class="partial-info">
                <span class="coach-name">{{coach.prenom}} {{coach.nom}}</span><br>
                <span class="coach-skills">{{coach.competances.replace(', ',' - ')}}</span>
              </div>
              <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
            </div>
          </div>
        </div>
      </div>
      <div class="parent">
        <!--<div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
