<app-sub-header [title]="'Paramètres'" subTitle="BACK"></app-sub-header>
<div class="row sub-component-content">
  <div class="col-lg-2 p-0">
    <app-coach-menu [active]="'profile'"></app-coach-menu>
  </div>

  <div class="col-lg-10">
    <div *ngIf="isLoading; else elseBlock">
      <div style="margin-top: 50px">
        <app-loader></app-loader>
      </div>
    </div>

    <ng-template #elseBlock>
      <form class="login-form" name="form" #f="ngForm" novalidate>
        <div class="row">
          <div
            class="col-12 ms-lg-0 col-lg-3 col-separator p-lg-0 mb-3 mb-lg-0"
          >
            <span class="row-title">Informations personnelles</span>
          </div>
          <div class="col-12 col-lg-9 pl-40">
            <div class="row">
              <app-user-photo
                [src]="form.photo"
                (onChange)="handleImportFile($event, 'photo')"
              ></app-user-photo>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-text-field [label]="'Nom'" [(model)]="form.nom" [form]="f">
                </app-text-field>
              </div>
              <div class="col-md-6">
                <app-text-field
                  [label]="'Prénom'"
                  [(model)]="form.prenom"
                  [form]="f"
                >
                </app-text-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-text-field
                  type="email"
                  [label]="'Email'"
                  [(model)]="form.email"
                  [form]="f"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                >
                </app-text-field>
              </div>

              <div class="col-md-6">
                <app-text-field
                  type="tel"
                  [label]="'Numéro de téléphone'"
                  [(model)]="form.tel"
                  placeholder="+33 12 34 56 789"
                  [form]="f"
                  pattern="^(0|\+33)[ ]?[1-9]([-.: ]?[0-9]{2}){4}$"
                >
                </app-text-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <app-text-area
                  [(model)]="form.bio"
                  [label]="'Biographie'"
                  [form]="f"
                >
                </app-text-area>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div
            class="center-verticaly col-12 ms-lg-0 col-lg-3 col-separator p-lg-0 mb-3 mb-lg-0"
          >
            <span class="row-title">Documents</span>
          </div>

          <div class="col-lg-9 col-12 pl-40">
            <div class="row mb-17 gx-4">
              <!-- CIN  Front -->
              <div class="col-md-6">
                <app-file-uploader
                  [model]="form.cinF"
                  type="pdf"
                  [label]="'C.N.I Front'"
                  [showLabel]="true"
                  (onClick)="handleImportFile($event, 'cinF')"
                  (onDelete)="handleDeleteFile('cinF')"
                ></app-file-uploader>
              </div>

              <!-- CIN  Back -->
              <div class="col-md-6">
                <app-file-uploader
                  [model]="form.cinB"
                  type="pdf"
                  [label]="'C.N.I Back'"
                  [showLabel]="true"
                  (onClick)="handleImportFile($event, 'cinB')"
                  (onDelete)="form.cinB = ''"
                ></app-file-uploader>
              </div>
            </div>

            <div class="row mb-17 gx-4">
              <!-- KBIS-->
              <div class="col-md-6">
                <app-file-uploader
                  [model]="form.kbis"
                  type="pdf"
                  [label]="'KBIS'"
                  [showLabel]="true"
                  (onClick)="handleImportFile($event, 'kbis')"
                  (onDelete)="form.kbis = ''"
                ></app-file-uploader>
              </div>
            </div>

            <div class="row d-flex gx-4">
              <div class="col-md-6">
                <app-text-field
                  [label]="'URSSAF'"
                  [(model)]="form.urssaf"
                  [required]="false"
                >
                </app-text-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div
            class="col-12 ms-lg-0 col-lg-3 col-separator p-lg-0 mb-3 mb-lg-0 center-verticaly"
          >
            <span class="row-title">Spécialisation</span>
          </div>
          <div class="col-lg-9 col-12 pl-40">
            <div class="row mb-17 gx-4">
              <div class="col-md-6">
                <app-select
                  [label]="'Catégorie'"
                  [(model)]="form.category"
                  [data]="categories"
                >
                </app-select>
              </div>
              <div class="col-md-6">
                <app-select
                  [label]="'Compétences'"
                  [(model)]="form.competance"
                  [data]="skills"
                >
                </app-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md gx-4">
                <app-select
                  [label]="'Accreditations'"
                  [(model)]="form.accreditation"
                  [data]="certifications"
                >
                </app-select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
          <div class="col-lg-9 col-12 mt-20 pl-40">
            <app-divider></app-divider>
          </div>
        </div>

        <div class="row" *ngIf="success">
          <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
          <div class="col-lg-9 col-12 pl-40">
            <div class="alert alert-info" role="alert">Profile Updated</div>
          </div>
        </div>

        <app-form-error [error]="error"></app-form-error>

        <div class="row">
          <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
          <div class="col-lg-9 col-12 pl-40">
            <app-button
              (onClick)="submit()"
              [isLoading]="isSubmitting"
              [disabled]="f.dirty"
            >
            </app-button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
          <div class="col-lg-9 col-12 mt-20 pl-40">
            <app-divider></app-divider>
          </div>
        </div>
      </form>

      <app-update-password></app-update-password>
    </ng-template>
  </div>
</div>
