<a
  id="button-basic"
  dropdownToggle
  type="button"
  class="notif-link"
  aria-controls="dropdown-basic"
>
  <img
    [src]="icon"
    style="left: 6px; top: 5px; position: relative"
    [ngClass]="
      items.length != 0
        ? 'animate__animated animate__swing animate__delay-3s animate__infinite'
        : ''
    "
  />
  <sup
    ><span
      *ngIf="items.length < 100"
      class="badge ml-2"
      [ngClass]="items.length == 0 ? 'bg-success' : 'bg-danger'"
      style="border-radius: 50%"
      >{{ items.length }}</span
    ></sup
  >
  <sup
    ><span
      *ngIf="items.length >= 100"
      class="badge ml-2"
      [ngClass]="items.length == 0 ? 'bg-success' : 'bg-danger'"
      style="border-radius: 50%"
      >:)</span
    ></sup
  >
</a>
