<app-sub-header [title]="'Mes documents'"></app-sub-header>

<div class="sub-component-content">
  <div class="row mt-4 gx-4">
    <div class="col">
      <div class="filters-row input-group form-group form-inline p-0">
        <input
          class="form-control coach-search"
          type="text"
          [(ngModel)]="filterString"
          (change)="filterInputChanged($event)"
          (keydown)="filterInputChanged($event)"
          placeholder="Recherche"
        />
        <span
          class="material-icons material-icons-inside-input"
          style="right: 30px; color: #ddf2fa"
          >search</span
        >
      </div>
    </div>
  </div>

  <div *ngIf="isLoading">
    <app-loader [marginTop]="'64px'"></app-loader>
  </div>

  <app-empty-page
    title="products"
    *ngIf="!found && !isLoading && !error"
  ></app-empty-page>

  <app-form-error [error]="error"></app-form-error>

  <div
    class="boutique"
    [@animate]="{
      value: '*',
      params: { duration: '300ms', y: '100px' }
    }"
  >
    <div class="row" *ngIf="found">
      <div class="col-lg-3" *ngFor="let product of products; index as i">
        <app-boutique-card [product]="product"></app-boutique-card>
      </div>
    </div>
  </div>
</div>
