<div class="d-flex justify-content-end" *ngIf="variant === 'submit'">
  <button
    type="{{ type }}"
    class="btn btn-primary"
    (click)="handleClick($event)"
    [disabled]="disabled"
    style="height: 50px"
    [ngStyle]="{ width: fullWith && '100%' }"
  >
    <span *ngIf="!isLoading">{{ title }}</span>
    <app-loader *ngIf="isLoading"></app-loader>
  </button>
</div>

<div class="d-flex justify-content-end" *ngIf="variant === 'add'">
  &nbsp;
  <a [routerLink]="path" class="btn btn-basic align-self-end"
    ><span class="material-icons">add_circle</span>{{ title }}</a
  >&nbsp;
</div>

<button class="btn btn-basic mlr-10" *ngIf="variant === 'basic'">
  {{ title }}
</button>

<button
  type="submit"
  [disabled]="disabled"
  class="btn btn-submit raised-button"
  (click)="handleClick($event)"
  *ngIf="variant === 'auth'"
>
  <span *ngIf="!isLoading">{{ title }}</span>
  <app-loader *ngIf="isLoading"></app-loader>
</button>
