<app-form-core-wrapper
  [title]="'Heureux de vous revoir !'"
  [image]="'assets/img/login/login-right.png'"
  [name]="'login'"
>
  <app-form-core-left-side class="col" left></app-form-core-left-side>

  <app-form (onSubmit)="f = $event" class="login-form">
    <app-text-field
      type="email"
      [label]="'Email'"
      [(model)]="form.email"
      [form]="f"
    ></app-text-field>
    <app-text-field
      [type]="'password'"
      [label]="'Mot de passe'"
      [(model)]="form.password"
      [name]="'password'"
      [form]="f"
    >
    </app-text-field>

    <app-button
      (onClick)="login()"
      [isLoading]="isLoading"
      [disabled]="isLoading"
      [title]="'Se connecter'"
      [variant]="'auth'"
    >
    </app-button>

    <div class="form-group">
      <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
        L'authentification a echoué: {{ errorMessage }}
      </div>
    </div>

    <div class="" *ngIf="!isVerified">
      <button
        class="btn btn-submit-secondary raised-button"
        (click)="verifyEmail()"
      >
        Verify email
      </button>
    </div>

    <div class="form-group">
      <div class="alert alert-info" role="alert" *ngIf="successMessage">
        {{ successMessage }}
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a class="login-forgotten-pass" routerLink="/forgot-password"
        >Mot de passe oublié ?</a
      >
    </div>
    <div class="create-account">
      <button
        class="btn btn-submit-secondary raised-button"
        (click)="createUser('Coach')"
      >
        Créer mon compte coach
      </button>
      <button
        class="btn btn-submit-secondary raised-button"
        (click)="createUser('Client')"
        routerLink="/create-user/client"
      >
        Créer mon compte coaché.e
      </button>
    </div>
  </app-form>
</app-form-core-wrapper>
