<app-sub-header [title]="'Ma boutique'"></app-sub-header>

<div class="sub-component-content">
  <div class="row mt-4 gx-4">
    <div class="col-3">
      <app-search
        [(model)]="search"
        (modelChange)="handleSearch($event)"
      ></app-search>
    </div>

    <div class="col-9">
      <app-button [title]="'Ajouter un product'" [variant]="'add'">
      </app-button>
    </div>
  </div>

  <app-page-list-wrapper
    [error]="error"
    [found]="found"
    [isLoading]="isLoading"
    [title]="'products'"
  >
    <div class="col-lg-3" *ngFor="let product of data; index as i">
      <app-boutique-card [product]="product"></app-boutique-card>
    </div>
  </app-page-list-wrapper>
</div>
