<div class="day-selector">
  <div class="custom-day-selector-title">
    <button class="btn-prev" (click)="changeViewDate(-1, 'month')">
      <span class="material-icons">keyboard_arrow_left</span>
    </button>
    <div class="day-selector-title">{{ viewDate.format("MMMM YYYY") }}</div>
    <button class="btn-next" (click)="changeViewDate(1, 'month')">
      <span class="material-icons">keyboard_arrow_right</span>
    </button>
  </div>
  <div class="d-flex row-of-days">
    <button
      *ngFor="let day of gridArr"
      class="date-item"
      (click)="onDateClick(day)"
      [ngClass]="day.value == selectedDate?.format('DD') ? 'selected-day' : ''"
    >
      <span class="day-name">{{ day.name }}</span>
      <span class="day-number">{{ day.value }}</span>
    </button>
  </div>
</div>
