
.form-card {
  height: 350px;
  /* UI Properties */
  background: transparent url("/assets/img/common/Groupe de masques 50.png") 0%
    0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  flex-direction: column;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 10px;
  .rating {
    display: flex;
    width: 33%;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    img {
      width: 12px;
      height: 12px;
      position: unset;
      top: unset;
      left: unset;
    }
  }
  .coach-image {
    width: 160px;
    height: 160px;
    margin: 30px auto 20px auto;
    border-radius: 50%;
    border-left: 4px solid transparent;
    border-top: 4px solid #1376a3;
    border-right: 4px solid #1376a3;
    border-bottom: 4px solid #1376a3;
  }
  .form-card-title {
    text-align: center;
    font: normal normal normal 18px/22px Fredoka;
    letter-spacing: 0px;
    color: #1376a3;
    opacity: 1;
    margin: 15px auto 4px auto;
  }
  p {
    text-align: center;
    font: normal normal normal 14px/20px Fredoka;
    letter-spacing: 0px;
    color: #9da5ad;
    opacity: 1;
    margin: 4px;
  }
  a {
    margin: 20px 60px;
  }
}

.rdv-btn {
  //width: 100%;
  flex: 1;
  margin: 5px;
  font: normal normal normal 18px/22px Fredoka;
  letter-spacing: 0px;
  color: #1376a3;
  background: transparent;
  border: 0;
}

.video {
  height: 432px;
  /* UI Properties */
  background: transparent url("/assets/img/common/Groupe de masques 55@2x.png")
    0% 0% no-repeat padding-box;
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  .play-button {
    position: relative;
    background: transparent url("/assets/img/common/play-button%20(5).svg") 0%
      0% no-repeat padding-box;
    top: 50%;
    left: 50%;
    width: 61px;
    height: 61px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .bottom-blur {
    background: linear-gradient(to top, #ddf2fa, rgba(283, 242, 250, 0));
    min-width: 100%;
    height: 100%;
    padding-right: 30px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
  }
}
.desc {
  margin: 10px 20px;
  span {
    font: normal normal normal 14px/22px Fredoka;
    letter-spacing: 0px;
    color: #3c4d5d;
  }
}
