<app-sub-header
  [title]="'Mes rendez-vous'"
  [subTitle]="'BACK'"
></app-sub-header>
<app-page-wrapper>
  <app-page-list-wrapper
    [error]="error"
    [found]="found"
    [isLoading]="isLoading"
    [title]="'service'"
  >
    <app-tabs-wizard></app-tabs-wizard>
    <div class="formation-content row gx-4 gx-lg-5">
      <div class="col col-md-4 col-xxl-3">
        <app-user-card
          *ngIf="data && data.user"
          [user]="data.user"
          [data]="data"
          [rating]="true"
          [page]="'view-service'"
        ></app-user-card>
        <div class="service-infos">
          <app-service-info [type]="data.sessionType"></app-service-info>
          <app-service-info
            [format]="data.format"
            [chez]="data.chez"
          ></app-service-info>
        </div>
      </div>
      <div class="cold col-md-8 col-xxl-9">
        <app-product-info
          *ngIf="data"
          [image]="data.image"
          [description]="data.description"
        ></app-product-info>

        <app-button
          (onClick)="reserver()"
          [title]="'Réserver'"
          [isLoading]="isSubmitting"
        >
        </app-button>
      </div>
    </div>
  </app-page-list-wrapper>
</app-page-wrapper>
