<app-sub-header
  [title]="'Mes rendez-vous'"
  [subTitle]="'BACK'"
></app-sub-header>
<div class="sub-component-content">
  <div class="wizard-tabs">
    <span class="rdv-pill orange-pill curs" style="cursor: pointer">1</span>
    <span class="" style="color: #ffa700; cursor: pointer">Détails</span>
    <span class="material-icons arrow-next">keyboard_backspace</span>
    <span class="rdv-pill gray-pill" style="cursor: pointer">2</span>
    <span class="" style="color: #9da5ad; cursor: pointer">Planifier</span>
    <span class="material-icons arrow-next disabled">keyboard_backspace</span>
    <span hidden class="rdv-pill gray-pill" style="cursor: pointer">3</span>
    <span hidden class="" style="color: #9da5ad; cursor: pointer"
      >Paiement</span
    >

    <span hidden class="material-icons" style="color: #9da5ad; cursor: pointer"
      >arrow_right_alt</span
    >
  </div>
  <div class="formation-content row gx-4 gx-lg-5">
    <div class="col-4 col-xxl-3">
      <app-user-card
        *ngIf="data && data.user"
        [user]="data.user"
      ></app-user-card>

      <div class="d-flex align-items-center" style="width: 100%">
        <input
          type="checkbox"
          id="isIndiv"
          name="isIndiv"
          [checked]="isIndiv"
          (change)="isIndiv = !isIndiv"
          style="margin-top: 15px"
        />
        <button class="rdv-btn mt-3">
          <img src="assets/img/common/profile%20(1).svg" />Session individuelle</button
        >&nbsp;
      </div>
      <div class="d-flex align-items-center" style="width: 100%">
        <input
          type="checkbox"
          id="isVid"
          name="isVid"
          [checked]="!isIndiv"
          (change)="isIndiv = !isIndiv"
          style="margin-top: 5px"
        />
        <button class="rdv-btn">
          <img src="assets/img/common/video-call.svg" /> Session via
          visio-conférence</button
        >&nbsp;
      </div>
    </div>
    <div class="col-8 col-xxl-9">
      <div class="video">
        <div class="play-button"></div>
        <div class="bottom-blur"></div>
      </div>
      <div class="desc">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          condimentum ipsum consectetur nulla sodales, at aliquam ligula
          iaculis. Fusce sed leo rhoncus, commodo lectus vel, accumsan sapien.
          Nullam nulla libero, laoreet in rutrum sed, blandit a nibh. Curabitur
          ultrices ante in malesuada sagittis. Fusce id elit sit amet sem
          eleifend varius. Ut ullamcorper dignissim dui vehicula egestas.
          Vivamus nec aliquam mauris. Nulla vestibulum tempor sapien quis
          malesuada. Vestibulum eu sapien purus. Nunc vitae tortor ultrices,
          scelerisque nibh ac, interdum nulla. Pellentesque dapibus sapien eu
          aliquet congue. Etiam aliquet nulla sit amet sapien eleifend, at
          rhoncus neque hendrerit. Suspendisse semper, urna vitae lobortis
          faucibus, mauris libero euismod enim, a malesuada diam nulla ut velit.
          Donec accumsan ullamcorper turpis, a sollicitudin mi maximus ut.
          Vestibulum commodo tempor aliquam. Phasellus metus neque, commodo a
          nulla quis, auctor ultrices.
        </span>
      </div>

      <div class="d-flex justify-content-end mb-4" style="margin-top: 20px">
        <button (click)="reserver()" class="btn btn-primary align-self-end">
          Réserver</button
        >&nbsp;
      </div>
    </div>
  </div>
</div>
