.center {
  text-align: center;
  span {
    font: var(--global-font-style-normal) normal
      var(--global-font-weight-normal) 30px/36px
      var(--global-font-family-fredoka);
    letter-spacing: var(--global-character-spacing-0);
    text-align: center;
    color: #ef6032;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
