<app-form-core-wrapper [title]="'Récupération de mot de passe !'">
  <app-form (onSubmit)="f = $event">
    <app-text-field
      [type]="'password'"
      [label]="'Nouveau mot de passe'"
      [(model)]="form.password"
      [name]="'password'"
      [form]="f"
    >
    </app-text-field>

    <app-text-field
      [type]="'password'"
      [label]="'Confirmez votre mot de passe'"
      [(model)]="form.confirmPassword"
      [pattern]="form.password"
      [name]="'confirmPassword'"
      [form]="f"
    >
    </app-text-field>

    <app-form-footer
      [error]="error"
      [success]="success"
      [successMessage]="'Mot de passe modifiée'"
      [showDivider]="false"
    ></app-form-footer>

    <app-button
      (onClick)="submit()"
      [title]="'Créer'"
      [isLoading]="isSubmitting"
      [disabled]="isSubmitting"
      [variant]="'auth'"
    >
    </app-button>
  </app-form>
</app-form-core-wrapper>
