<div class="sub-component-nav d-flex flex-column-reverse flex-md-row">
  <div class="sub-component-title align-self-start">
    <h6>{{ title }}</h6>
    <span *ngIf="subTitle == 'DATE'">{{
      todayDate | date: "dd MMMM yyyy HH:mm":undefined:"fr-FR"
    }}</span>
    <span *ngIf="subTitle == 'BACK'" (click)="back()" style="cursor: pointer"
      ><img src="assets/img/common/Arrow%20Outline.svg" /> Retour</span
    >
  </div>
  <div
    class="left-side-elements d-flex justify-content-between justify-content-md-end"
  >
    <div class="burger-menu-container d-md-none d-flex align-items-center">
      <div>
        <img src="../../../../assets/icon/burger-menu.svg" />
      </div>
      <div>
        <img src="../../../../assets/icon/logo.svg" />
      </div>
    </div>
    <div>
      <a
        *ngIf="getUserRole()?.toLowerCase() === 'coach'"
        class="dropdown-toggle res-link mlr-10 d-none d-md-inline-block"
        data-toggle="collapse"
        aria-expanded="false"
      >
        <img src="assets/img/common/XMLID_105_.svg" />
        <span class="d-none d-lg-inline-block">Lien de réservation</span>
      </a>
      <input class="search" type="text" placeholder="Recherche..." />
      <app-notification-item></app-notification-item>

      <app-avatar [photo]="user.photo" [role]="user.role" [title]="user.email">
      </app-avatar>
    </div>
  </div>
</div>
