<app-sub-header [title]="'Panier'"></app-sub-header>

<app-page-wrapper>
  <app-page-list-wrapper
    [error]="error"
    [found]="true"
    [isLoading]="isLoading"
    [title]="'orders'"
  >
    <div>
      <div *ngFor="let item of data; index as i">
        <app-cart-card></app-cart-card>
      </div>

      <app-button
        [title]="'Procéder au paiement'"
        (onClick)="submit()"
        [isLoading]="isSubmitting"
      ></app-button>
    </div>
  </app-page-list-wrapper>
</app-page-wrapper>
