<div
  class="service-card"
  [ngStyle]="{
    'background-image': backgroundImage,
    'min-height': minHeight,
    width: width,
    cursor: forClient && 'pointer'
  }"
  [routerLink]="forClient && viewPath"
>
  <app-card-tools
    [editPath]="editPath"
    [viewPath]="viewPath"
    [isHidden]="service.isDeleted"
    (onHide)="handleHide()"
    *ngIf="!forClient"
  ></app-card-tools>

  <div class="service-card-label d-inline-flex">
    <p>{{ service.title }}</p>
  </div>

  <h3 class="service-card-text">{{ service.description }}</h3>
</div>
