.right-side {
  .title {
    font: normal normal normal 18px/22px Fredoka;
    color: #1376a3;
  }

  .label {
    font: normal normal normal 10px/12px Fredoka;
    color: #3c4d5d;
  }

  .form-group {
    margin-bottom: 16px;
  }
}

.add-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-text {
    margin-left: 4px;
    margin-top: 6px;
    font: normal normal normal 12px/15px Fredoka;
    color: #1376a3;
  }
}
