<app-sub-header [title]="'Mes outils de suivi'" [subTitle]="'BACK'"></app-sub-header>
<div class="sub-component-content pt-40">
  <div class="row">
    <div class="col-9" [ngStyle]="{'pointer-events': viewOnly ?'none' : ''}" style="display: flex;flex-wrap: wrap; overflow-y: auto" >
      <div *ngFor="let question of clientAnswers; index as i" class="question mt-4">
        <span class="question-title">{{question.question}}</span>
        <div class="d-flex" style="flex-direction: column;align-items: center;height: 50px;">
          <div class="form-check form-check-inline" *ngFor="let resp of question.selectedAnswers; index as j" style="width: 100%;margin: 15px 20px;">
            <div *ngIf="question.questionType =='multiple'">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox + {{resp.responsePosition}}" [(ngModel)]="resp.selected">
              <label class="form-check-label mt-1" for="inlineCheckbox + {{resp.responsePosition}}">{{resp.responseText}}</label>
            </div>
            <div *ngIf="question.questionType !='multiple' && viewOnly">
              <input class="form-check-input" type="radio" name="{{question.questionText}}" id="inlineRadio + {{resp.responsePosition}}" [checked]="resp.responsePosition == question.selectedAnswer.responsePosition">
              <label class="form-check-label mt-1" for="inlineRadio + {{resp.responsePosition}}">{{resp.responseText}}</label>
            </div>
            <div *ngIf="question.questionType !='multiple' && !viewOnly">
              <input class="form-check-input" type="radio" name="{{question.questionText}}" id="view + {{resp.responsePosition}}" [value]="resp" [(ngModel)]="question.selectedAnswer">
              <label class="form-check-label mt-1" for="view + {{resp.responsePosition}}">{{resp.responseText}}</label>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="form-card d-flex">
        <img class="mlr-10" width="40px" height="40px" [attr.src]="coachData.photo" style="border-radius: 50%;border: 4px solid #2B76A3;"/>
        <span class="form-card-title">{{coachData.prenom}} {{coachData.nom}}</span>
        <p>{{coachData.categories}}</p>

      </div>
      <div *ngIf="!viewOnly" class="d-flex align-items-center" style="width: 100%">
        <button (click)="saveQuizAnswers()"   class="btn btn-primary mt-3" style="width: 100%;margin: 15px;">Enregistrer</button>&nbsp;
      </div>
      <div *ngIf="!viewOnly" class="d-flex align-items-center" style="width: 100%">
        <button  (click)="back()"  class="btn" style="width: 100%;margin:0 15px; border: 0 !important;">Annuler</button>&nbsp;
      </div>
    </div>
  </div>
</div>
