<form
  id="stripeForm-{{ plan.id }}"
  name="form"
  #f="ngForm"
  (submit)="onSubmit($event)"
  method="get"
  action="/create-user/client"
  class="form"
>
  <div class="plan">
    <h1 class="plan-title">{{ plan.title }}</h1>
    <h2 class="plan-price">{{ plan.price }}</h2>

    <p class="plan-meta" *ngFor="let feature of plan.features">
      {{ feature }}
    </p>

    <div class="d-flex justify-content-center align-items-end">
      <button type="type" class="btn btn-primary" (click)="handleClick()">
        Je choisis
      </button>
    </div>
  </div>
  <div class="overlay-button"></div>
</form>
