.product-card {
  height: 240px;
  border-radius: 10px;
  background-size: cover;
  background-color: #feefea;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px #0000001a;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  &-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-price {
      font: normal normal medium 18px/22px Fredoka;
      color: #3c4d5d;
    }
  }

  &-text {
    font: normal normal normal 18px/22px Fredoka;
    color: #3c4d5d;
    margin-bottom: 4px;
  }

  &-description {
    font: normal normal normal 12px/15px Fredoka;
    color: #3c4d5d;
  }
}
