<div
  class="product-card"
  [ngStyle]="{
    'background-image': backgroundImage,
    cursor: forClient && 'pointer'
  }"
>
  <div class="product-card-tools" *ngIf="!forClient">
    <span class="material-icons edit-icon" [routerLink]="path">mode_edit</span>
    <span class="material-icons visibility-icon" (click)="handleDelete()"
      >visibility</span
    >
  </div>
  <div class="product-card-meta">
    <img
      class="product-card-meta-icon"
      *ngIf="icon"
      src="{{ icon }}"
      title="{{ product.type }}"
    />
    <h4 class="product-card-meta-price">
      <b>{{ price }}</b>
    </h4>
  </div>
  <h3 class="product-card-text">{{ product.title }}</h3>
  <p class="product-card-description">{{ product.description }}</p>
</div>
