<div class="row sub-component-content">
  <div class="files-container">
    <div class="file-desc">
      <img src="../../../../assets/img/file.png" />
      <div class="d-flex">
        <img src="../../../../assets/icon/pdf-file.svg" />
        <div class="price">{{ product.price }} €</div>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="file-title">
      <div class="name">{{ product.title }}</div>
      <div class="subject">{{ product.category[0] }}</div>
    </div>
  </div>
</div>
