<app-sub-header [title]="'Ajouter un support de formation'"></app-sub-header>

<div class="sub-component-content">
  <div class="row mt-4 gx-4">
    <div class="col">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10 right-side">
          <h2 class="title">Info</h2>

          <!-- Titre -->
          <app-text-field [label]="'Titre'" [model]="form.titre">
          </app-text-field>

          <div class="form-group">
            <label class="element-label">Description</label>
            <textarea
              rows="5"
              style="height: 120px"
              [(ngModel)]="form.bio"
              class="form-control element"
              placeholder="davidlaroche@gmail.com"
            >
            </textarea>
          </div>

          <!-- Duration  [required]="false" -->
          <app-text-field
            [label]="'Durée'"
            [model]="form.duration"
            [placeholder]="'Min'"
            [type]="'number'"
          >
          </app-text-field>

          <div class="row">
            <div class="file-input">
              <input
                type="file"
                required
                class="form-control form-control-lg element"
                style="display: none"
                id="photo"
                title=" "
                name="photo"
                accept="application/png"
                (change)="addPhoto($event)"
              />
              <label for="photo">
                <app-import-icon></app-import-icon>
                Ajouter une photo</label
              >
            </div>
          </div>

          <!-- Divider -->
          <app-divider></app-divider>

          <h2 class="title">Tarifs</h2>

          <div class="row">
            <div class="col-3">
              <app-checkbox [label]="'Gratuit'" [model]="form.free">
              </app-checkbox>
            </div>

            <div class="col-9">
              <app-text-field
                [model]="form.price"
                [type]="'number'"
                [label]="'Price'"
                [placeholder]="''"
                [showLabel]="false"
              >
              </app-text-field>
            </div>
          </div>

          <div class="form-group">
            <label class="element-label">Catégory</label>
            <angular2-multiselect
              name="category"
              [data]="categories"
              [(ngModel)]="form.category"
              [settings]="settings"
            >
            </angular2-multiselect>
          </div>

          <app-divider></app-divider>

          <div class="d-flex justify-content-end">
            <button class="btn btn-primary submit-btn" (click)="save()">
              Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img
          src="assets/img/coach/boutique/add-formation.png"
          alt="add-formation"
        />
      </div>
    </div>
  </div>
</div>
