.right-side {
  .title {
    font: normal normal normal 18px/22px Fredoka;
    color: #1376a3;
  }

  .label  {
    font: normal normal normal 10px/12px Fredoka;
    color: #3C4D5D
  }
  

  .form-group {
    margin-bottom: 16px;
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    p { 
      font: normal normal normal 14px/17px Fredoka;
      color: #3C4D5D;
      margin-right: 16px;
    }
  }
}
.image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    object-fit: contain;
    object-position: center;
  }
}
