.icon-datatable {
  color: #000000;

  .material-icons-action {
    color: inherit;
    background: inherit;
  }
}

.icon-datatable:hover {
  position: relative;
  //background: #73B5E3;
  color: #000000;
  //border: 1px solid #73B5E3;
}

.icon-datatable:active {
  background: #ffffff;
  color: #000000;
  //border: 1px solid #000000;
}

.icon-datatable:disabled {
  background: #5c5c5c;
  color: #ffffff;
  border: 1px solid #5c5c5c;
  cursor: not-allowed;
}

.icon-datatable:not(:active):focus {
  //outline: 2px solid #366A95 !important;
  outline-offset: 2px;
}

.badge-width {
  //width: 100px !important;
  font: normal normal normal 14px/17px Fredoka !important;
}
