<div class="form-group mb-20">
  <label class="element-label">{{ label }}</label>
  <textarea
    rows="{{ rows }}"
    style="height: 120px"
    [(ngModel)]="model"
    class="form-control element"
    placeholder="{{ placeholder }}"
    required="{{ required }}"
    pattern="{{ pattern }}"
    (input)="handleChange($event)"
    #field="ngModel"
    [ngClass]="{ 'element-secondary': variant === 'secondary' }"
  >
  </textarea>

  <div
    *ngIf="(field.invalid && field.touched) || field.dirty || form?.submitted"
  >
    <small
      *ngIf="field.errors?.required"
      class="alert alert-danger"
      role="alert"
      >{{ label }} est obligatoire!</small
    >
    <small
      *ngIf="field.errors?.pattern"
      class="alert alert-danger"
      role="alert"
      >{{ patternError }}</small
    >
  </div>
</div>
