<app-page-list-wrapper
  [error]="error"
  [found]="found"
  [isLoading]="isLoading"
  [title]="title"
>
  <div *ngIf="name === 'all'">
    <div *ngFor="let elm of data; index as i">
      <app-client-item
        [client]="elm.user"
        [tab]="'all'"
        *ngIf="elm.user"
      ></app-client-item>
    </div>
  </div>

  <div *ngIf="name === 'invited'">
    <div *ngFor="let user of data; index as i">
      <app-client-item
        [client]="user"
        [tab]="'invited'"
        *ngIf="user"
      ></app-client-item>
    </div>
  </div>
</app-page-list-wrapper>
