<app-sub-header [title]="'Gestion des utilisateurs'"></app-sub-header>
<div class="sub-component-content pt-40">
  <div class="d-flex justify-content-end mb-2">
    <a routerLink="/pages/admin/users/add" class="btn btn-primary align-self-end"><span class="material-icons">add_circle</span>Ajouter un utilisateur</a>&nbsp;
  </div>
  <div class="input-group form-group form-inline pt-3">
    <span class="input-group-text"> Rechercher : </span>
    <input class="form-control ml-2" type="text" name="searchText" [(ngModel)]="searchValue"/>
    <span class="material-icons material-icons-inside-input">search</span>
  </div>
  <div class="table-responsive ">
    <loading-card [loading]="loadingAnimation">
      <datatable [datatable]="filteredData"
                 (datatableChange)="datatableChange($event)"
                 [checkboxes]="true"
                 [Actions]="ACTION_COLUMNS"
                 (onActionClicked)="onActionClicked($event)"
                 [searchvalue]="searchValue"
                 [displayedColomn]="DISPLAYED_COLUMNS"></datatable>
    </loading-card>
  </div>
</div>
