<app-sub-header [title]="'Ajouter un utilisateur'"></app-sub-header>
<div class="sub-component-content pt-40">
  <form>

    <div class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Nom d'utilisateur : </span>
      </div>
      <div class="col-10">
        <input class="form-control ml-2" [(ngModel)]="newUser.username" id="userName" name="userName" type="text" />
      </div>
    </div>
    <div class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Email : </span>
      </div>
      <div class="col-10">
        <input class="form-control ml-2" [(ngModel)]="newUser.email" id="firstName" name="firstName" type="text" />
      </div>
    </div>
    <div class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Rôle : </span>
      </div>
      <div class="col-10">
        <select id="inputState" [(ngModel)]="newUser.role" (change)="userRoleChanged()" name="workflow" class="form-select">
          <option value="Admin">Administrateur</option>
          <option value="Coach">Coach</option>
          <option value="Client">Client</option>
        </select>
      </div>
    </div>

    <div *ngIf="newUser.role == 'Coach'" class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Compétences : </span>
      </div>
      <div class="col-10">

        <angular2-multiselect name="competance"
                              [data]="userCompetences"
                              [(ngModel)]="newUser.competance"
                              [settings]="settings">
        </angular2-multiselect>
      </div>
    </div>
    <div *ngIf="newUser.role == 'Coach'" class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Categories : </span>
      </div>
      <div class="col-10">

        <angular2-multiselect name="userCategory"
                              [data]="userCategory"
                              [(ngModel)]="newUser.category"
                              [settings]="settings">
        </angular2-multiselect>
      </div>
    </div>
    <div *ngIf="newUser.role == 'Coach'" class="input-group form-group form-inline mb-2 mt-2">
      <div class="col-2">
        <span class="input-group-text"> Accréditations : </span>
      </div>
      <div class="col-10">

        <angular2-multiselect name="userAccred"
                              [data]="userAccred"
                              [(ngModel)]="newUser.accreditation"
                              [settings]="settings">
        </angular2-multiselect>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-start mb-4">
    <button class="btn btn-primary align-self-end" (click)="addUser()">Enregistrer</button>&nbsp;
  </div>
</div>
