.flex-inputs {
  .form-group {
    max-width: 308px;
  }
}

.file-box {
  a {
    display: block;
    margin: 0;
    padding: 0;
    flex: 1;
    margin-right: 10px;
    min-height: 50px;
    max-height: 120px;
    box-shadow: 0px 0px 10px #0000001a;
    border: 1px solid #1376a3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    color: #1376a3;
    padding: 8px 16px;
    overflow: auto;
  }
  .d-flex {
    align-items: center;
  }
}
.form-group angular2-multiselect.multiselect {
  background: #1376a3 0% 0% no-repeat padding-box;
  border: 1px solid #1376a3;
  border-radius: 10px;
  padding: 0;
  font: normal normal normal 15px/18px Fredoka;
  letter-spacing: 0px;
  color: #fff;

  .selected-list .c-angle-down,
  .selected-list .c-angle-up {
    width: 8px !important;
    height: 10px !important;
    top: 42%;
    svg {
      fill: #fff;
    }
  }
  .selected-list {
    padding: 5px 10px 5px 20px;

    .clear-all {
      svg path {
        fill: #fff;
      }
    }
    .c-btn {
      padding: 0;
      .c-token {
        background-color: rgb(60 77 93 / 25%);
        border-radius: 4px;
      }
    }
  }
  .dropdown-list {
    .arrow-down,
    .arrow-up {
      display: none;
    }
    .list-area {
      box-shadow: 0px 0px 10px #0000001a;
      border-radius: 10px;
      border: unset;
      color: #9da5ad;
      font-size: 14px;
      label {
        font-size: 14px;
      }
      .pure-checkbox.select-all {
        label {
          color: #9da5ad;
          font-size: 14px;
        }
      }

      ul {
        li {
          &.selected-item,
          &:hover {
            background-color: #0000001a;
          }
          label {
            color: #3c4d5d;
          }
        }
      }
    }
  }
}

.element-label {
  text-align: left;
  font: normal normal normal 15px/18px Fredoka;
  letter-spacing: 0px;
  color: #3c4d5d;
  opacity: 0.5;
  margin-bottom: 8px;
}

.form-group {
  &.col {
    padding: 0;
    input {
      width: 100%;
    }
  }

  .file-input {
    height: 50px;
    box-shadow: 0px 0px 10px #0000001a;
    border: 1px solid #1376a3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    &:hover,
    &:active {
      background-color: #1376a3;
      label {
        color: #fff;
        font: normal normal normal 15px/18px Fredoka;
        svg path {
          fill: #fff;
        }
      }
      p {
        color: #fff;
        font: normal normal normal 15px/18px Fredoka;
      }
    }
    label {
      top: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      cursor: pointer;
      color: #1376a3;
      opacity: 1;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font: normal normal normal 15px/18px Fredoka;
      &.secondary {
        position: static;
      }

      svg {
        margin-right: 5px;
      }
    }

    p {
      color: #1376a3;
      font: normal normal normal 15px/18px Fredoka;
    }
  }

  .form-control::placeholder {
    color: #3c4d5d;
    opacity: 0.25;
  }

  textarea {
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 10px;
    border: unset;
    background: unset;
    color: #3c4d5d;
    font-size: 14px;
    padding-left: 20px;
  }
  input {
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 10px;
    border: unset;
    background: unset;
    color: #3c4d5d;
    font-size: 14px;
    padding-left: 20px;

    &:focus {
      box-shadow: 0px 0px 10px #0000001a;
    }
  }
  label {
    text-align: left;
    font: normal normal normal 15px/18px Fredoka;
    letter-spacing: 0px;
    color: #3c4d5d;
    opacity: 0.5;
    margin-bottom: 8px;
  }
}

.submit-btn {
  max-width: 140px;
  margin-top: 20px;
}
