<div class="order">
  <div class="order-header">
    <img src="../../../../assets/icon/list.svg" />
    <h2>{{ cart.title }}</h2>
  </div>
  <div class="order-content row">
    <div class="col">
      <div *ngFor="let item of products; index as i">
        <div class="order-content-item">
          <div class="order-content-item-title">
            <p>
              <span>{{ item.type | titlecase }} </span>: {{ item.category }}
            </p>
          </div>
          <p class="order-content-item-price">{{ item.price }} €</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="order-content-end">
        <app-button
          [title]="'Télécharger votre facture'"
          (click)="generatePDF()"
          [disabled]="isLoading"
        ></app-button>

        <img
          class="order-content-img"
          src="../../../../assets/img/commande.png"
        />
      </div>
    </div>
  </div>
</div>
