//font family
$font-family-base: "Fredoka";
$icon: "icomoon" !important;

//font size
$font-size-base: 1.125rem; //18px
$font-size-xs: 0.625rem; //10px
$font-size-sm: 0.75rem; //12px
$font-size-md: 0.875rem; //14px
