<div class="commande-container d-flex flex-column">
  <div class="commande d-flex align-items-center justify-content-between">
    <div class="details">
      <div class="details-title d-flex align-middle">
        <img src="../../../../assets/icon/list.svg" />
        <div class="blue-title">{{ order.title }}</div>
      </div>
      <div class="item d-flex">
        <div class="item-title">
          <span>{{ order.type | titlecase }} </span>: {{ order.category }}
        </div>
        <div class="price">{{ order.price }} €</div>
      </div>
    </div>
    <div class="commande-img">
      <img src="../../../../assets/img/commande.png" />
    </div>
    <div class="close-icon" (click)="handleDelete()">
      <img src="../../../../assets/icon/close.svg" />
    </div>
  </div>
</div>
