<app-sub-header [title]="'Mes services'"></app-sub-header>

<div class="sub-component-content">
  <div class="row mt-4 gx-4">
    <div class="col-3">
      <app-search [(model)]="search"></app-search>
    </div>

    <div class="col-9">
      <app-button [title]="'Ajouter un service'" [variant]="'add'">
      </app-button>
    </div>
  </div>

  <app-page-list-wrapper
    [error]="error"
    [found]="found"
    [isLoading]="isLoading"
    [title]="'services'"
  >
    <div class="col-lg-4" *ngFor="let service of data; index as i">
      <app-service-card [service]="service"></app-service-card>
    </div>
  </app-page-list-wrapper>
</div>
