<app-sub-header [title]="'Mes services'"></app-sub-header>

<app-page-wrapper>
  <app-page-header-wrapper>
    <div class="row" start>
      <app-search [(model)]="search" class="col-4"></app-search>
    </div>

    <app-button [title]="'Ajouter un service'" [variant]="'add'" end>
    </app-button>
  </app-page-header-wrapper>

  <app-page-list-wrapper
    [error]="error"
    [found]="found"
    [isLoading]="isLoading"
    [title]="'services'"
  >
    <div class="col-lg-4" *ngFor="let service of data; index as i">
      <app-service-card [service]="service"></app-service-card>
    </div>
  </app-page-list-wrapper>
</app-page-wrapper>
