<app-sub-header [title]="'Mes rendez-vous'" [subTitle]="'BACK'"></app-sub-header>
<div class="row sub-component-content">
  <div class="formation-content d-flex">
    <div class="col-12">
      <div class="video">
        <div class="bottom-blur">
          <countdown #cd [config]="config"></countdown>
        </div>
      </div>
      <div class="desc" *ngIf="session" >
        <div>
          <h2 style="font: normal normal normal 18px/22px Fredoka; letter-spacing: 0px; color: #2b76a3;">Coach: {{this.coach.prenom + ' ' + this.coach.nom}}</h2>
        </div>
        <div>
          <h4 style="font: normal normal normal 15px/19px Fredoka; letter-spacing: 0px;text-transform: capitalize;"><strong>Date: </strong>Le {{session.fullStartDateString}} de <strong>{{session.startTimeString}}h</strong> a <strong>{{session.endTimeString}}h</strong></h4>
        </div>
        <span style=""><strong>Status:</strong> {{session.statusName}}</span>
        <span *ngIf="(session.status == 'declined' || session.status == 'cancelled' ) && session.motif" style=""><strong>Motif:</strong> {{session.motif}}</span>
        <div *ngIf="sessionUsers.length == 1">
          <span style=""><strong>Client participant:</strong> {{sessionUsers[0].prenom}} {{sessionUsers[0].nom}}</span>
        </div>
        <div *ngIf="sessionUsers.length > 1">
          <span style=""><strong>Clients participants:</strong></span>
          <ul>
            <li *ngFor="let userElement of sessionUsers">{{userElement.prenom}} {{userElement.nom}}</li>
          </ul>
        </div>
        <diV class="d-flex justify-content-center mt-3">
          <button [disabled]="!isTimeAndDay()" (click)="joinVideo()" class="start-btn" [ngStyle]="!isTimeAndDay() ? {'background-color' :  'grey'} : {}" ><img src="assets/img/common/play-button%20(11)-1.svg" style="width: 20px; height: 20px;margin-right: 10px">Commencer</button>
        </diV>
      </div>
    </div>
    <div *ngIf="false" class="col-3">
      <div class="form-card d-flex">
        <img class="coach-image mlr-10" width="40px" height="40px" [attr.src]="coach.photo"/>
        <div class="rating">
          <img src="../../../assets/img/common/Layer%202-dark.svg"/>
          <img src="../../../assets/img/common/Layer%202-dark.svg"/>
          <img src="../../../assets/img/common/Layer%202-dark.svg"/>
          <img src="../../../assets/img/common/Layer%202-dark.svg"/>
          <img src="../../../assets/img/common/Layer%202-dark%20empty.svg"/>
        </div>
        <span class="form-card-title">{{coach.prenom}} {{coach.nom}}</span>
        <p>{{coach.competances}}</p>
        <div class="d-flex justify-content-center">
          <button [disabled]="!isTimeAndDay()"  [ngStyle]="!isTimeAndDay() ? {'background-color' :  'grey'} : {}" class="start-btn" (click)="joinVideo()"><img src="../../../assets/img/common/play-button%20(11)-1.svg" style="width: 20px; height: 20px;margin-right: 10px">Commencez</button>
        </div>
      </div>
      <div class="d-flex" style="margin: 10px">
        <h3 class="d-flex align-items-center" style="margin-right: 40px;font: normal normal normal 18px/22px Fredoka;letter-spacing: 0px;font-weight:600;color: #3C4D5D;"><span class="material-icons">calendar_month</span> <span>{{session.dateString}}</span></h3>
        <h3 class="d-flex align-items-center" style="font: normal normal normal 18px/22px Fredoka;letter-spacing: 0px;font-weight:600;color: #3C4D5D;"><span class="material-icons">schedule</span> <span>{{session.timeString}}</span></h3>
      </div>
    </div>
  </div>
</div>
