.sub-component-content {
  margin: 35px 10px 10px 0;
  justify-content: center;
}

.mlr-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.selectFilter {
  background: #1376a3;
  border-radius: 10px !important;
  color: #fff;
  padding: 10px;
  width: 155px;
  height: 50px;
  border: none;
  -webkit-appearance: button;
  font: normal normal normal 15px/18px Fredoka;
  outline: none;
}

.btn {
  font: normal normal normal 14px/17px Fredoka;
  height: 50px;
}

.searchBox {
  padding: 10px;
  width: 255px;
  height: 50px;
  border-color: #1376a3;
  border-radius: 10px !important;
}
