<app-sub-header [title]="'Paramètres'"></app-sub-header>

<div class="row sub-component-content">
  <div class="col-2 p-0">
    <app-coach-menu [active]="'plans'"></app-coach-menu>
  </div>
  <div class="col-10">
    <div class="plans-container">
      <h3 class="plans-container-title">Mon plan actif</h3>
      <p class="plans-container-info">Plan actif: Lorem ipsum</p>
      <p class="plans-container-info">
        Expire dans: <span class="plans-container-expire">15 jours</span>
      </p>

      <div class="d-flex justify-content-between" style="margin-top: 30px">
        <h3 class="plans-container-title">Migrer vers un nouveau plan</h3>

        <div class="d-flex align-items-center" style="margin-right: 250px">
          <label
            class="form-check-label"
            style="margin-right: 8px"
            for="flexSwitchCheckDefault"
            >Mensuel</label
          >
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              (change)="changeOffer($event)"
              id="flexSwitchCheckDefault"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Annuel</label
            >
          </div>
        </div>

        <div></div>
      </div>

      <div class="row plans-container-plans">
        <div class="col-6" *ngFor="let plan of plans">
          <app-plan-card
            [plan]="plan"
            (onClick)="setSelectedPlan($event)"
          ></app-plan-card>
        </div>
      </div>
    </div>
  </div>
</div>
