.right-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-img {
      object-fit: contain;
      object-position: center;
    }
  }
  