.plan {
  height: 266px;
  background: transparent url("/assets/img/plans/plan-card.png") 0% 0% no-repeat
    padding-box;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000001a;

    margin-bottom: 40px;

    


  &-title {
    text-transform: uppercase;
    color: #3c4d5d;
    text-align: center;
    font: normal normal normal 18px/22px Fredoka;


  }

  &-price {
    text-align: center;
    font: normal normal medium 30px/36px Fredoka;

    color: #1376a3;
  }

  &-text {
    text-align: center;
    font: normal normal normal 14px/17px Fredoka;
    color: #9da5ad;
  }

  &-button {
    background: #1376a3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 25px;
    text-align: center;
    font: normal normal normal 12px/15px Fredoka;
    color: #ffffff;
  }
}
