<app-form [animated]="false" [name]="form" (onSubmit)="handleSubmit($event)">
  <div class="row">
    <div
      class="col-12 ms-lg-0 col-lg-3 mb-3 p-lg-0 col-margin center-verticaly"
    >
      <span class="row-title">Mise à jour du mot de passe</span>
    </div>
    <div class="col-lg-9 col-12 pl-40">
      <div class="row gx-4">
        <div class="col">
          <app-text-field
            [type]="'password'"
            [label]="'Mot de passe actuel'"
            [(model)]="form.currentPassword"
            [name]="'currentPassword'"
            [form]="f"
          >
          </app-text-field>
        </div>

        <div class="col">
          <app-text-field
            [type]="'password'"
            [label]="'Nouveau mot de passe'"
            [(model)]="form.newPassword"
            [name]="'newPassword'"
            [form]="f"
          >
          </app-text-field>
        </div>
        <div class="col">
          <app-text-field
            [type]="'password'"
            [label]="'Confirmez le nouveau mot de passe'"
            [(model)]="form.confirmPassword"
            [pattern]="form.newPassword"
            [name]="'confirmPassword'"
            [form]="f"
          >
          </app-text-field>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
    <div class="col-lg-9 col-12 pl-40">
      <app-divider></app-divider>
    </div>
  </div>

  <div class="row" *ngIf="success || error">
    <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
    <div class="col-lg-9 col-12 pl-40">
      <app-form-error [error]="error" *ngIf="error"></app-form-error>
      <div class="alert alert-info" role="alert" *ngIf="success">
        Le mot de passe est changé
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-12 p-0 hidden-md col-margin"></div>
    <div class="col-lg-9 col-12 pl-40">
      <app-button
        (onClick)="submit()"
        [isLoading]="isSubmitting"
        [title]="'Changer'"
      >
      </app-button>
    </div>
  </div>
</app-form>
