<div class="client-info" [ngClass]="!selectedUser ? 'd-flex' : ''">
  <a
    class="send-msg"
    (click)="createNewConversation(selectedUser)"
    *ngIf="selectedUser"
  >
    <span class="material-icons" style="vertical-align: bottom">send</span>
    Envoyer un message
  </a>

  <div [hidden]="coachUsers.length == 0 || selectedUser" class="no-data">
    Veuillez selectionner un client
  </div>
  <div *ngIf="coachUsers.length == 0" class="no-data">
    Vous n'avez pas de clients dans vos équipes
  </div>
</div>
