.client-info {
  background: rgb(243 187 195 / 20%);
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin-top: 25px;
  min-height: 500px;

  a.send-msg {
    cursor: pointer;
    color: #1376a3;
    text-decoration: unset;
    font: normal normal normal 18px/22px Fredoka;
  }
}
