<div *ngIf="isLoading; else elseBlock">
  <div style="margin-top: 50px">
    <app-loader></app-loader>
  </div>
</div>

<ng-template #elseBlock>
  <form
    [@animate]="{
      value: '*',
      params: { duration: '300ms', y: '100px' }
    }"
    name="form"
    #f="ngForm"
    novalidate
  >
    <div class="form-container">
      <h2 class="title">Info</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <app-text-field [label]="'Nom'" [(model)]="form.nom" [form]="f">
          </app-text-field>
        </div>
        <div class="col-xs-12 col-sm-6">
          <app-text-field [label]="'Prénom'" [(model)]="form.prenom" [form]="f">
          </app-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <app-text-field
            type="email"
            [label]="'Email'"
            [(model)]="form.email"
            [form]="f"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          >
          </app-text-field>
        </div>
        <div class="col-xs-12 col-sm-6">
          <app-text-field
            type="tel"
            [label]="'Numéro de téléphone'"
            [(model)]="form.tel"
            placeholder="+33 12 34 56 789"
            [form]="f"
            pattern="^(0|\+33)[ ]?[1-9]([-.: ]?[0-9]{2}){4}$"
          >
          </app-text-field>
        </div>
      </div>
      <app-select
        [label]="'Equipe'"
        [data]="teamsList"
        [text]="'Choisir equipe'"
        [(model)]="selectedTeam"
        (onItemOneSelect)="form.equip = $event"
        [singleSelection]="true"
      >
      </app-select>

      <app-text-area
        [(model)]="form.notes"
        [label]="'Notes'"
        [placeholder]="'Text...'"
        [form]="f"
        [required]="false"
      >
      </app-text-area>

      <app-form-footer
        [error]="error"
        [success]="success"
        [successMessage]="'Client ajouté'"
      ></app-form-footer>

      <app-button
        (onClick)="submit()"
        [isLoading]="isSubmitting"
        [disabled]="isSubmitting"
      >
      </app-button>
    </div>
  </form>
</ng-template>
