<app-sub-header [title]="'Tableau de board coach'"></app-sub-header>
<div class="sub-component-content">
  <div class="row profil-container">
    <div class="col-9">
      <div class="status-container d-flex">
        <div class="card">
          <div class="d-flex align-center">
            <div class="card-icon">
              <img src="../../../../assets/icon/price-tag.svg" />
            </div>
            <div class="card-number up">
              <div>
                <img src="../../../../assets/icon/right-up.svg" />
              </div>
              <span>+23,54 %</span>
            </div>
          </div>
          <div class="card-title">TOTAL</div>
          <div class="card-total">23 398,00 €</div>
          <div class="card-desc">
            En comparaison avec l’année 2021 : 12 435,98 €
          </div>
        </div>
        <div class="card">
          <div class="d-flex align-center">
            <div class="card-icon">
              <img src="../../../../assets/icon/subscribe.svg" />
            </div>
            <div class="card-number down">
              <div>
                <img src="../../../../assets/icon/right-down.svg" />
              </div>
              <span>+23,54 %</span>
            </div>
          </div>
          <div class="card-title">COACHÉS</div>
          <div class="card-total">123</div>
          <div class="card-desc">En comparaison avec l’année 2021 : 98</div>
        </div>
        <div class="card">
          <div class="d-flex align-center">
            <div class="card-icon">
              <img src="../../../../assets/icon/avatar.svg" />
            </div>
            <div class="card-number up">
              <div>
                <img src="../../../../assets/icon/right-up.svg" />
              </div>
              <span>+23,54 %</span>
            </div>
          </div>
          <div class="d-flex space">
            <div>
              <div class="card-title">EN ATTENTE</div>
              <div class="card-total">234</div>
              <div class="card-desc">
                En comparaison avec l’année 2021 : 123
              </div>
            </div>
            <div>
              <div class="card-title">PASSÉS</div>
              <div class="card-total">234</div>
              <div class="card-desc">
                En comparaison avec l’année 2021 : 123
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="today-meeting">
        <div class="title">Rendez-vous d’ajourdhui</div>
        <div class="d-flex">
          <div class="date">
            <div class="day-num">23</div>
            <div class="day">Lundi</div>
          </div>
          <div class="coach">
            <div class="name">Formation avec camilia</div>
            <div class="time">09:30 - 12:00</div>
          </div>
        </div>
      </div>

      <div class="team">
        <div class="title">Mes accompagnés</div>
        <div class="members">
          <div class="member">
            <div class="d-flex">
              <img src="../../../../assets/img/member.png" />
              <div>
                <div class="name">Henry Rashford</div>
                <div class="date">22 Mars 2022</div>
              </div>
            </div>

            <img src="../../../../assets/icon/play.svg" />
            <div class="price">130,00 €</div>
          </div>
          <div class="member">
            <div class="d-flex">
              <img src="../../../../assets/img/member.png" />
              <div>
                <div class="name">Henry Rashford</div>
                <div class="date">22 Mars 2022</div>
              </div>
            </div>
            <img src="../../../../assets/icon/play.svg" />
            <div class="price">130,00 €</div>
          </div>
          <div class="member">
            <div class="d-flex">
              <img src="../../../../assets/img/member.png" />
              <div>
                <div class="name">Henry Rashford</div>
                <div class="date">22 Mars 2022</div>
              </div>
            </div>
            <img src="../../../../assets/icon/play.svg" />
            <div class="price">130,00 €</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
