.form-container {
    .title {
      font: normal normal normal 18px/22px Fredoka;
      color: #1376a3;
    }
  
    .label {
      font: normal normal normal 10px/12px Fredoka;
      color: #3c4d5d;
    }
  
    .form-group {
      margin-bottom: 16px;
    }
  }
  