<div *ngIf="isLoading; else elseBlock">
  <div style="margin-top: 50px">
    <app-loader></app-loader>
  </div>
</div>

<ng-template #elseBlock>
  <form
    [@animate]="{
      value: '*',
      params: { duration: '300ms', y: '100px' }
    }"
    name="form"
    #f="ngForm"
    novalidate
  >
    <div class="form-container">
      <h2 class="title">Info</h2>

      <app-divider></app-divider>
      <app-form-error [error]="error"></app-form-error>

      <div class="alert alert-info" role="alert" *ngIf="success">
        Service ajouté
      </div>

      <app-button
        (onClick)="submit()"
        [isLoading]="isSubmitting"
        [disabled]="id ? true : false"
      >
      </app-button>
    </div>
  </form>
</ng-template>
