.wizard-tabs {
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 15px auto;
  gap: 20px;
  align-items: center;
  font: normal normal normal 16px/17px Fredoka;
  letter-spacing: 0px;
  letter-spacing: 0px;
  .rdv-pill {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px !important;
  }
  .gray-pill {
    background-color: #ffffff;
    border: 1px solid #5c5c5c;
    color: #5c5c5c;
  }
  span:not(.material-icons) {
    font-size: 14px;
  }
  .orange-pill {
    background-color: #ffa700;
    color: #ffffff;
  }
  .green-pill {
    background-color: #38a220;
    color: #ffffff;
  }
}

.recap {
  margin: 20px auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 10px;
  min-height: 300px;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  img {
    margin-bottom: 20px;
  }
  .title-header {
    text-align: center;
    font: normal normal normal 18px/32px Fredoka;
    letter-spacing: 0px;
    color: #1376a3;
    line-height: normal;
    margin-bottom: 15px;
  }
  .rdv-date {
    font: normal normal normal 18px/32px Fredoka;
    text-align: center;
    letter-spacing: 0px;
    color: #3c4d5d;
    font-weight: bold;
    text-transform: capitalize;
  }
  .rdv-type {
    font: normal normal normal 18px/32px Fredoka;
    text-align: center;
    letter-spacing: 0px;
    color: #3c4d5d;
  }
}
