
    .no-data {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font: normal normal normal 18px/22px Fredoka;
      color: #2b76a3;
    }
  
  
 