<app-sub-header
  [title]="'Ajouter un client'"
  [subTitle]="'BACK'"
></app-sub-header>
<div class="sub-component-content">
  <div class="col-10">
    <form name="form" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col">
              <app-text-field [label]="'Nom'" [(model)]="form.nom" [form]="f">
              </app-text-field>
            </div>
            <div class="col">
              <app-text-field
                [label]="'Prénom'"
                [(model)]="form.prenom"
                [form]="f"
              >
              </app-text-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <app-text-field
                type="email"
                [label]="'Email'"
                [(model)]="form.email"
                [form]="f"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              >
              </app-text-field>
            </div>
            <div class="col form-group">
              <app-text-field
                type="tel"
                [label]="'Numéro de téléphone'"
                [(model)]="form.tel"
                placeholder="+33 12 34 56 789"
                [form]="f"
                pattern="^(0|\+33)[ ]?[1-9]([-.: ]?[0-9]{2}){4}$"
              >
              </app-text-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="element-label">Equipe</label>
              <select
                id="selectTeam"
                [(ngModel)]="selectedTeam"
                required
                class="form-control element"
              >
                <option [value]="'NO_TEAM'">PAS D'AFFECTATION</option>
                <option *ngFor="let team of teamsList" [value]="team._id">
                  {{ team.name.toUpperCase() }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <app-text-area
              [(model)]="form.notes"
              [label]="'Notes'"
              [placeholder]="'Text...'"
              [form]="f"
              [required]="false"
            >
            </app-text-area>
          </div>

          <app-divider></app-divider>

          <app-form-error [error]="error"></app-form-error>

          <div class="alert alert-info" role="alert" *ngIf="success">
            Client ajouté
          </div>

          <app-button
            (onClick)="submit()"
            [isLoading]="isSubmitting"
            [disabled]="isSubmitting"
          >
          </app-button>
        </div>
      </div>
    </form>
  </div>
</div>
