<app-sub-header [title]="'Détail coach'" [subTitle]="'BACK'"></app-sub-header>
<app-page-wrapper>
  <app-page-list-wrapper
    [error]="error"
    [found]="found"
    [isLoading]="isLoading"
    [title]="'coach'"
  >
    <div class="row content">
      <div class="col-2"></div>
      <div class="col">
        <app-coach-banner [coach]="data" *ngIf="data"></app-coach-banner>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="services">
      <app-coach-services [id]="id"></app-coach-services>
    </div>
  </app-page-list-wrapper>
</app-page-wrapper>
