<div class="row sub-component-content">
    <div class="col-10">
        <div class="files-container">
            <div class="file-desc">
                <img src="../../../../assets/img/file.png" />
                <div class="d-flex">
                    <img src="../../../../assets/icon/pdf-file.svg" />
                    <div class="price">15,00 €</div>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="file-title">
                <div class="name">David Laroche</div>
                <div class="subject">Coaching d’équipe</div>
            </div>
        </div>
    </div>
</div>
