<div
  class="client-item"
  [ngClass]="selectedClient?._id == client?._id ? 'client-item-active' : ''"
  (click)="handleSelectClient(client)"
>
  <input
    *ngIf="false"
    type="checkbox"
    [id]="client?._id"
    [name]="client?._id"
    [(ngModel)]="form.selected"
    (change)="handleCheckbox($event)"
  />
  <img
    class="client-item-avatar"
    [src]="photo"
    style="border: 1px solid #2b76a3"
  />
  <span>{{ displayName }}</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="5.875"
    height="9.833"
    viewBox="0 0 5.875 9.833"
  >
    <g
      id="arrow-down-sign-to-navigate_7_"
      data-name="arrow-down-sign-to-navigate (7)"
      transform="translate(-96.836 9.584) rotate(-90)"
    >
      <path
        id="Tracé_29"
        data-name="Tracé 29"
        d="M4.667,102.461a.652.652,0,0,1-.462-.191L.192,98.256a.654.654,0,0,1,.924-.924l3.551,3.551,3.551-3.551a.654.654,0,0,1,.924.924l-4.013,4.013A.652.652,0,0,1,4.667,102.461Z"
        transform="translate(0)"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="0.5"
      />
    </g>
  </svg>
</div>
