.container {
  &-title {
    font: normal normal normal 18px/22px Fredoka;
    color: #1376a3;
  }

  &-text {
    font: normal normal normal 14px/20px Fredoka;
    color: #3c4d5d;
  }

  &-price {
    color: #26a21b;
  }

  &-features {
    font: normal normal normal 14px/17px Fredoka;
    color: #1376a3;
    margin: 15px 0;
  }
}

.link {
  cursor: pointer;
}
