<div id="main-container-login" class="row">
  <div class="col right-login-pane">
    <div class="image">
      <img src="assets/img/login/mastercoach.svg" alt="left-pane-image" />
    </div>
    <div class="welcome-title">
      <span>Oublier mot de passe !</span>
    </div>
    <div class="login-form">
      <form
        class="login-form"
        *ngIf="!isLoggedIn"
        [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }"
        name="form"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Ex : lorem@ipsum.com"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
          >
            L'email' est obligatoire!
          </div>
        </div>

        <div class="d-flex">
          <button
            (click)="forgotPassword()"
            class="btn btn-submit raised-button"
          >
            Envoyer
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            L'authentification a echoué: {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
