<app-form-core-wrapper [title]="'Oublier mot de passe !'">
  <app-form (onSubmit)="f = $event">
    <app-text-field
      type="email"
      [label]="'Email'"
      [(model)]="form.email"
      [form]="f"
    >
    </app-text-field>

    <app-form-footer
      [error]="error"
      [success]="success"
      [successMessage]="'Email sent'"
      [showDivider]="false"
    ></app-form-footer>

    <app-button
      (onClick)="submit()"
      [isLoading]="isSubmitting"
      [disabled]="isSubmitting"
      [title]="'Envoyer'"
      [variant]="'auth'"
    >
    </app-button>
  </app-form>
</app-form-core-wrapper>
