<app-sub-header [title]="'Paramètres'"></app-sub-header>
<div class="sub-component-content">
  <div class="row mb-40">
    <div class="offset-lg-1 col-12 col-lg-3 col-separator p-lg-0 mb-3">
      <span class="row-title">Informations personnelles</span>
    </div>
    <div class="col-12 col-lg-8 pl-40">
      <div class="image-container">
        <button (click)="file.click()">
        <img class="profil-image" [attr.src]="form.photo">
        <input type="file" hidden accept="image/*" (change)="importFile($event)" #file>
         <img class="profil-icon"
            src="assets/img/common/camera-to-take-photos%20(3).svg"></button>

      </div>
      <div class="row profil-data mb-17 gx-4">
        <div class="col-md-6 mb-3 mb-lg-0 form-group">
          <label class="element-label">Nom</label>
          <input type="text" [(ngModel)]="form.nom" class="form-control element" placeholder="Nom">
        </div>
        <div class="col-md-6 form-group">
          <label class="element-label">Prénom</label>
          <input type="text" [(ngModel)]="form.prenom" class="form-control element" placeholder="Prénom">
        </div>
      </div>
      <div class="row profil-data mb-17 gx-4">
        <div class="col-md-6 form-group mb-3 mb-lg-0">
          <label class="element-label">Email</label>
          <input type="email" [(ngModel)]="form.email" class="form-control element"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email" required
            #email="ngModel">
          <div *ngIf="(email.invalid && email.touched) || email.dirty">
            <small *ngIf="email.errors?.required" class="alert alert-danger" role="alert">L'email' est
              obligatoire!</small>
            <small *ngIf="email.errors?.pattern" class="alert alert-danger" role="alert">Veuillez entrer un email
              valides</small>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="element-label">Numéro de téléphone</label>
          <input type="tel" [(ngModel)]="form.tel" class="form-control element" placeholder="Numéro de téléphone"
            pattern="^(0|\+33)[ ]?[1-9]([-.: ]?[0-9]{2}){4}$" required #tel="ngModel">
          <div *ngIf="(tel.invalid && email.touched) || tel.dirty">
            <small *ngIf="tel.errors?.required" class="alert alert-danger" role="alert">Le numéro de telephone est est
              obligatoire!</small>
            <small *ngIf="tel.errors?.pattern" class="alert alert-danger" role="alert">Veuillez entrer un numéro de
              telephone valide</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-40">
    <div class="offset-lg-1 col-lg-3 col-separator p-lg-0 center-verticaly mb-3">
      <span class="row-title">Moyen de paiement</span>
    </div>
    <div class="col-lg-8 pl-40">
      <div class="row profil-data">
        <div class="col-lg-6 form-group">
          <button class="btn btn-primary full-width" style="height: 50px;">
            <span
              class="material-icons">add_circle</span>Ajouter une nouvelle carte
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-1 col-lg-3 col-margin center-verticaly mb-3 last-title mb-3 mb-lg-0">
      <span class="row-title">Mise à jour <br>du mot de passe</span>
    </div>
    <div class="col-lg-8 pl-40">
      <div class="row profil-data">
        <div class="col-md-6 mb-2 form-group mb-3 mb-lg-0">
          <label class="element-label">Nouveau mot de passe</label>
          <input type="password" [(ngModel)]="newPassword" id="password" (click)="passwordChanged()"
            class="form-control element" name="password" #password>
        </div>
        <div class="col-md-6 form-group">
          <label class="element-label">Confirmez le nouveau mot de passe</label>
          <input type="password" [(ngModel)]="confirmPassword" (click)="confirmPasswordChanged()"
            class="form-control element" [required]="password.value.length > 0" pattern="{{ password.value }}">
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-1 col-md-3 col-margin p-0  hidden">
    </div>
    <div class="col-lg-8 pl-40">
      <button class="btn btn-primary submit-btn" (click)="saveUser()">Enregistrer</button>

    </div>
  </div>
</div>