.login-form {
  form input {
    width: 424px;
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 10px;
  }
  form label {
    text-align: left;
    font: normal normal normal 10px/12px Fredoka;
    letter-spacing: 0px;
    color: #3c4d5d;
    opacity: 0.5;
  }
  form .form-group {
    width: 424px;
    margin: 15px auto;
  }
}

.btn {
  width: 424px;
  height: 50px;
  /* UI Properties */
  box-shadow: 0px 0px 10px #0000001a;
  border-radius: 25px;
  opacity: 1;
  font: normal normal normal 14px/17px Fredoka;
  letter-spacing: 0px;
}

.btn-submit {
  color: #ffffff;
  background: #ef6032 0% 0% no-repeat padding-box;
  margin: 15px auto;
}
.btn-submit:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #ef6032;
  border: 1px solid #ef6032;
  margin: 15px auto;
}
.btn-submit-secondary {
  color: #1376a3;
  border: 1px solid #1376a3;
  margin: 30px auto;
}
.btn-submit-secondary:hover {
  background: #1376a3 0% 0% no-repeat padding-box;
  color: #ffffff;
  margin: 30px auto;
}

.login-forgotten-pass {
  text-align: right;
  font: normal normal normal 14px/17px Fredoka;
  letter-spacing: 0px;
  color: #9da6ae;
  margin-right: 130px;
}
